In [1]:
import pandas as pd

df = pd.read_excel('http://cdn.sundog-soft.com/Udemy/DataScience/cars.xls')

In [2]:
df.head()

,Price,Mileage,Make,Model,Trim,Type,Cylinder,Liter,Doors,Cruise,Sound,Leather
0,17314.103129,8221,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,1
1,17542.036083,9135,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
2,16218.847862,13196,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
3,16336.913140,16342,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,0
4,16339.170324,19832,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,1

In [3]:
#カテゴリーデータを数値化する
#df[''] = pd.Categorical(df['カテゴリデータのculomns']).codes
df['Model_ord'] = pd.Categorical(df.Model).codes

In [4]:
import statsmodels.api as sm
df['Model_ord'] = pd.Categorical(df.Model).codes
x = df[['Mileage', 'Model_ord', 'Doors']]
y = df[['Price']]

x1 = sm.add_constant(x)
est = sm.OLS(y, x).fit()

est.summary()

/anaconda3/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       0.768
Model:                            OLS   Adj. R-squared:                  0.767
Method:                 Least Squares   F-statistic:                     883.1
Date:                Thu, 28 Jun 2018   Prob (F-statistic):          1.95e-253
Time:                        00:57:26   Log-Likelihood:                -8646.5
No. Observations:                 804   AIC:                         1.730e+04
Df Residuals:                     801   BIC:                         1.731e+04
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Mileage        0.1700      0.043      3.963      0.000       0.086       0.254
Model_ord    203.2116     43.022      4.723      0.000     118.763     287.660
Doors       3923.7534    281.702     13.929      0.000    3370.792    4476.715
==============================================================================
Omnibus:                      221.757   Durbin-Watson:                   0.176
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              524.713
Skew:                           1.465   Prob(JB):                    1.15e-114
Kurtosis:                       5.661   Cond. No.                     1.51e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.51e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [5]:
y.groupby(df.Doors).mean()

              Price
Doors
2      23807.135520
4      20580.670749

In [6]:
est.params

Mileage         0.169999
Model_ord     203.211644
Doors        3923.753402
dtype: float64